.blog-welcome-part-one {
    background-color: #D0F0C0;
    padding-top: 51px;
    margin-top: -20px;
    padding-bottom: 35px;
}

.blog-container {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  border: 3px solid none;
  align-items: center;
}
@media (min-width: 398px) {
  .blog-container {
    width: 385px;
  }
}
@media (min-width: 768px) {
  .blog-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .blog-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .blog-container {
    width: 1170px;
  }
}
.blog-container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.blog-container-inner {
  padding: 20px;
  background-color: #F4F4F4;
  align-items: center;
  box-shadow: 0px 0px 10px -3px;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 250px; /* this is not responsive*/
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 120%;
  height: auto;
}

blockquote {
  color: #808080;
  font-style: italic;
}
.section-heading {
  font-size: 26px;
  margin-top: 30px;
  font-weight: 350;
  text-decoration: underline;
  font-style: italic;
}
.img-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 20px);
  height: 300px;
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 26px;
  margin-top: 30px;
  font-weight: 350;
  text-decoration: underline;
  font-style: italic;
}
.caption {
  text-align: left;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pager {
  margin: 20px 0 0;
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

#like-button {
  display:inline-block;
  color:#444;
  border:1px solid lightgreen;
  background:lightgreen;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  cursor:pointer;
  vertical-align:middle;
  padding: 10px;
  text-align: center;
  width: 48px;
  font-weight: bold;
}

/* break line style */

/* Text between <hr> tag */

.hr-article-break {
padding: 0;
border: none;
border-top: medium double #333;
color: #333;
text-align: center;
}
.hr-article-break:after {
content: "bookworm";
display: inline-block;
position: relative;
top: -0.7em;
font-size: 1.5em;
padding: 0 0.25em;
background: white;
}
