@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
}


body {
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
    box-sizing: border-box;
    min-height: calc(100% - 3.5rem);
    height: calc(100% - 3.5rem);
    overflow-x: hidden;
}
/*
body {
    background-color: #F3F3F3;
}
*/
hr {
    border: none;
    border-top: 1px solid #DEDEDE;
    background-color: #fff;
}

/* ======== Navbar ======= */

.top-bar {
    background-color: #1c352d;
    padding: 1px;
}

.navbar-menu-left-side239 ul li {
    display: inline-block;
    padding-left: 7px;
    margin-top: 10px;
}

.navbar-menu-left-side239 ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "FontAwesome";
}

.navbar-menu-left-side239 ul li a:hover {
    text-decoration: none;
    color: #000;
    font-family: "FontAwesome";
    transition: .6s;
}

.navbar-menu-left-side239 ul li a i {
    margin-right: 8px;
}

.navbar-menu-left-side239 .fa-envelope-o::after {
    content: "";
    color: #2f3239;
    float: left;
}

.navbar-menu-left-side239 .fa-headphones::after {
    content: "|";
    color: #2f3239;
    float: left;
    padding-right: 10px;
}

.navbar-menu-left-side239 .fa-user::after {
    content: "|";
    color: #2f3239;
    float: left;
    padding-right: 10px;
}

.navbar-serch-right-side {
    float: right;
}

.navbar-serch-right-side .form-control222 {
    display: block;
    width: 100%;
    height: 28px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #F0F0F0;
    background-image: none;
    border: none;
    border-radius: none;
    opacity: 1;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #fff;
}

.navbar-serch-right-side .form-control222:focus {
    border-color: #F0F0F0;
    outline: 0;
    box-shadow: none;
}
.navbar-serch-right-side .form-control222:focus {
    border-color: #F0F0F0;
    outline: 0;
    box-shadow: none;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px;
    height: 28px;
    color: #fff;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group:hover {
    z-index: 2;
    margin-left: -1px;
    height: 28px;
    color: #fff;
}

.glyphicon {
    position: relative;
    top: 0px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-serch-right-side .btn-default2913 {
    color: #333;
    background-color: #7bb661;
    border-color: #7bb661;
}

.navbar-serch-right-side .btn-default2913:hover {
    color: #fff;
    background-color: #7bb661;
    border-color: #7bb661;
    outline: none;
}

.navbar-serch-right-side .btn-default2913:focus,
.navbar-serch-right-side .btn-default2913.focus {
    color: #fff;
    background-color: #7bb661;
    border-color: #7bb661;
    outline: none;
}

.navbar-serch-right-side .btn-default2913:hover {
    color: #fff;
    background-color: #7bb661;
    border-color: #7bb661;
    outline: none;
}

.navbar-serch-right-side .btn-default2913:active,
.navbar-serch-right-side .btn-default2913.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #7bb661;
    border-color: #7bb661;
    outline: none;
}

.navbar-serch-right-side .btn-default2913:active:hover,
.navbar-serch-right-side .btn-default2913.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.navbar-serch-right-side .btn-default2913:active:focus,
.navbar-serch-right-side .btn-default2913.active:focus,
.open > .dropdown-toggle.navbar-serch-right-side .btn-default2913:focus,
.navbar-serch-right-side .btn-default2913:active.focus,
.navbar-serch-right-side .btn-default2913.active.focus,
.open > .dropdown-toggle.navbar-serch-right-side .btn-default2913.focus {
    color: #fff;
    background-color: #7bb661;
    border-color: #7bb661;
    outline: none;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
    outline: none;
}

/* ======== Navbar ======= */


/* -- ==========header mega navbar=======--*/
/*==========top-menu-bottom932===========*/

.top-menu-bottom932 {}

.navbar-default {
    background-color: #306030;
    border-color: #306030;
    padding: 20px;
}

.navbar-brand > img {
    display: block;
    margin-top: -20px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 8px 25px 8px 20px;
    margin-top: 7px;
    font-weight: bold;
    font-family: sans-serif;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #7bb661;
    border-radius: 3px;
    padding: 8px 25px 8px 20px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #7bb661;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #7bb661;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #7bb661;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 230px;
    padding: 0px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    color: black;
    background-color: #7bb661;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin-left: 30px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-family: serif;
}

.dropdown-form {
  color: #FFFFE0;
}

.main_title {
  font-size: 40px;
  font-weight: bold;
  color: #1a2b1a;
  font-family: "FontAwesome";
}

.button0239-item {
    margin-top: 50px;
}

.aboutus022 {
    padding: 8px 20px 8px 20px;
    background-color: #373B43;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 1px;
    outline: none;
}

.join92 {
    padding: 8px 20px 8px 20px;
    background-color: #373B43;
    color: #fff;
    font-weight: bold;
    border: none;
    margin-left: 25px;
    border-radius: 1px;
    outline: none;
}

.aboutus022:hover {
    background-color: #222;
}

.join92:hover {
    background-color: #222;
}


/*ask me*/

.form-style8292 {
    margin-top: 80px;
}

.input-group-addon:last-child {
    border-left: 0;
    background-color: #7bb661;
}

.input-group-addon:last-child:hover {
    border-left: 0;
    background-color: #222;
}

.form-control8392 {
    display: block;
    width: 100%;
    height: 43px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #7bb661;
    background-image: none;
    border: #7bb661;
    border-radius: none;
    box-shadow: none;
}

.input-group-addon a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.input-group-addon i {
    font-size: 20px;
}

.input-group-addon:first-child {
    border-right: 0;
    border: #7bb661;
    background-color: #222;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0px;
}
/* -- ==========header mega navbar=======--*/


/*--======= welcome section on top background=====-->*/
.welcome-part-one {
    background-color: #D0F0C0;
    padding-top: 51px;
    margin-top: -20px;
    padding-bottom: 35px;
}

.welcome-demop102 h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family: "FontAwesome";
}

.welcome-demop102 p {
    font-size: 20px;
    color: #fff;
    font-family: "FontAwesome";
    margin-top: 30px;
}

.welcome-demop102 .topbar-title {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 15px;
}
.text-center {
text-align: center;
}

/*--======= welcome section on top background=====-->*/



/* Page Start */

/* page-container makes page scrollible, and header sticky to the top*/
.page-container {
    width: 100%;
    padding: 10px;
    position: relative;
    overflow: auto; /* makes page scrollible*/
}

/* Page End */


/* row */
/* this make row width within page*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.row,.row-fluid {
	margin-bottom:30px;
}

.row .row,.row-fluid .row-fluid{
	margin-bottom:30px;
}

.row.nomargin,.row-fluid.nomargin {
	margin-bottom:0;
}
/* row */


/*========Start of portfolio========*/
#portfolio {
	background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
	padding: 5px 10px;
  width: 200%;
  height: 120rem;
  overflow-x: auto;
  white-space: wrap; /* makes the title wrap */
}
#portfolio .btn-default {
	border: 0;
}

.row-portfolio {
  display: flex;
  margin: 10px;
  width: 200rem;
  height: auto;
  margin-bottom: 40px;
}

.row-portfolio {
	margin-bottom:40px;
}
.grid figure {
	position: relative;
  margin-top: 20px;
}
.grid figure img {
	width: 80%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 5;
	padding: 20px;
	color: white;
	background-color: rgba(216, 169, 27, 0.81);
}
.grid figcaption h5 {
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 3px;
	color: white;
	font-weight: 500;
	text-align: left;
	letter-spacing: 1px;
	font-size:20px;
}
.grid figcaption a {
	text-align: left;
	padding: 5px 20px;
	margin-left: 20px;
	display: inline-block;
	background: #2f2f2f;
	color: #F27E00;
	font-size: 12px;
	background: #fff;
}
.overlay figure {
	overflow: hidden;
}
.overlay figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.no-touch .overlay figure:hover img, .overlay figure.cs-hover img {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
}
.overlay figcaption {
	height: 100%;
	width: 80%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}
.no-touch .overlay figure:hover figcaption, .overlay figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.overlay figcaption a {
position: absolute;
/* top: 10px; */
bottom: 10px;
right: 30px;
background: #000;
color: #fff;
border-radius: 0px;
padding: 6px 15px;
}

@media (min-width: 276px) {
  #portfolio {
    width: auto;
    height:260px;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: wrap; /* makes the title wrap */
  }

  .row-portfolio {
    display: flex;
    margin: 5px;
    width: 500rem;
    height: 600rem;
    margin-bottom: 5px;
  }

}

@media (min-width: 576px) {
  #portfolio {
    width: auto;
    height:300px;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: wrap; /* makes the title wrap */
  }
  .row-portfolio {
    display: flex;
    margin: 10px;
    width: 400rem;
    height: 500rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  #portfolio {
    width: auto;
    height:300px;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: wrap; /* makes the title wrap */
  }
  .row-portfolio {
    display: flex;
    margin: 10px;
    width: 300rem;
    height: 300rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  #portfolio {
    background: #fff;
    margin-top: 20px;
    padding: 5px 0;
    width: auto;
    height: 330px;
    overflow-x: auto;
    white-space: wrap; /* makes the title wrap */
  }
  .row-portfolio {
    display: flex;
    margin: 10px;
    width: 200rem;
    height: 400rem;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  #portfolio {
    background: #fff;
    margin-top: 20px;
    padding: 5px 0;
    width: 200%;
    overflow-x: auto;
    white-space: wrap; /* makes the title wrap */
  }
  .row-portfolio {
    display: flex;
    margin: 10px;
    width: 200rem;
    height: 400rem;
    margin-bottom: 20px;
  }
}
.centered {
	text-align: center;
}

.img-responsive {
  display: block;
  max-width: 80%;
  height: auto;
}
/*========End of portfolio========*/



/*========Recent Posts========*/

#main {
    min-width: 320px;
    margin-top: 30px;
    background: #F3F3F3;
}

#main {
	padding:0 20px 0 20px;
	position:relative;
}

#content1 {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

#content2 {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

#content3 {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

#content4 {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

#content5 {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

#main>input {
    display: none;
}

#main>label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 13px 15px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

#main>label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

#main>label[for*='1']:before {
    content: '\f1cb';
}

#main>label[for*='2']:before {
    content: '\f17d';
}

#main>label[for*='3']:before {
    content: '\f16b';
}

#main>label[for*='4']:before {
    content: '\f1a9';
}

#main>label[for*='5']:before {
    content: '\f1a9';
}

#main>label:hover {
    color: #888;
    cursor: pointer;
}

#main>input:checked + label {
    color: #555;
    border: 1px solid #7bb661;
    border-top: 2px solid #7bb661;
    border-bottom: 1px solid #7bb661;
    background-color: #7bb661;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}

.question-type2033 {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 13px -3px #777;
}

.left-user12923 {}

.left-user12923-repeat {
    margin-top: 18px;
}

.left-user12923 .fa-check {
    font-size: 40px;
    margin-top: 10px;
    padding-left: 5px;
    color: #7bb661;
}

.left-user12923 .fa-times {
    font-size: 40px;
    margin-top: 10px;
    padding-left: 5px;
    color: #7bb661;
}

.left-user12923 img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#que-hedder2983 {}

#que-hedder2983 h3 {
    text-decoration: none;
    color: #fff;
}

#que-hedder2983 h3:hover {
    text-decoration: none;
    color: #7bb661;
}

#que-hedder2983 a {
    text-decoration: none;
    color: #222629;
}

#que-hedder2983 a:hover {
    text-decoration: none;
    color: #7bb661;
}

.ques-details10018 {
    margin-top: 10px;
}

.q-type238 {
    margin-top: 23px;
    background-color: #7bb661;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    color: #fff;
}

.ques-type302 {}

.q-type23 {
    margin-top: 23px;
    background-color: #7bb661;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    border: none;
    color: #fff;
}

.button-ques2973:hover {
    background-color: #222629;
}

.right-description893 {}

.ques-details10018 p {
    margin-top: 10px;
    font-family: fontawesome;
}

.ques-icon-info3293 {
    font-size: 13px;
    font-weight: bold;
    margin-top: -10px;
}

.ques-icon-info3293 i {
    padding-left: 10px;
}

.ques-icon-info3293 .fa-check {
    color: #7bb661;
}

.ques-icon-info3293 .fa-star {
    color: #DFAA63;
}

.ques-icon-info3293 .fa-folder {
    color: #222629;
}

.ques-icon-info3293 .fa-folder:hover {
    color: #7bb661;
}

.ques-icon-info3293 .fa-clock-o {
    color: #222629;
}

.ques-icon-info3293 .fa-comment {
    color: #222629;
}

.ques-icon-info3293 .fa-comment:hover {
    color: #7bb661;
}

.ques-icon-info3293 .fa-user-circle-o {
    color: #222629;
}

.ques-icon-info3293 .fa-question-circle-o {
    color: #222629;
}

.ques-icon-info3293 .fa-bug {
    color: #222629;
}

.ques-icon-info3293 .check-color329 {
    color: #7bb661;
}

.two-part3280 {
    margin-top: 30px;
}
/*========Recent Posts========*/


/*========hashtag sections========*/
.new-container {
	padding:0 20px 0 20px;
	position:relative;
}
.features {
  /* margin: 0px 0 25px; */
  background: transparent;
  border: 0px;
  display: flex;
  flex-wrap: wrap; /* this makes boxs 2 rows*/
  margin: auto;
  border-radius: 0.25rem;
  width: auto;
}
.tags-part2398 {
    background-color: #fff;
    padding: 15px;
    margin-top: 30px;
    box-shadow: 0px 0px 13px -3px;
}

.tags-part2398 h4 {
    color: #7bb661;
    font-weight: bold;
    font-family: serif;
    border-bottom: 2px solid #eaeaeb;
    padding-bottom: 10px;
}

.tags-part2398 ul li {
    list-style: none;
    display: inline-block;
    padding-left: 3px;
    padding-top: 8px;
}

.tags-part2398 ul li a {
    background-color: #222629;
    padding: 5px;
    font-family: fontawesome;
    text-decoration: none;
    color: #dddddd;
}

.tags-part2398 ul li a:hover {
    background-color: #7bb661;
    padding: 5px;
    font-family: fontawesome;
    text-decoration: none;
    color: #dddddd;
    transition: .5s;
}

/*========hashtag sections========*/


/*===========footer-part============*/

.footer-part {
    background-color: #2F3239;
    padding: 30px;
}

.info-part-one320 {
    color: #ddd;
    font-family: fontawesome;
}

.info-part-one320 h3 {
    color: #7bb661;
}
.info-part-two320 h3 {
    color: #7bb661;
    font-family: fontawesome;
}

.info-part-two320 a {
    text-decoration: none;
    color: #ddd;
    font-family: fontawesome;
}

.info-part-two320 a:hover {
    text-decoration: none;
    color: #7bb661;
    font-family: fontawesome;
}

.info-part-two320 p {
    text-decoration: none;
    border-bottom: 1px dotted #43464b;
}
.info-part-three320 h3 {
    color: #7bb661;
    font-family: fontawesome;
}

.news-info209 {
    border-bottom: 1px dotted #43464b;
}

.news-info209:last-child {
    border-bottom: none;
}

.news-info209 h5 {
    color: #ddd;
    font-family: fontawesome;
}

.news-info209 h5:hover {
    color: #7bb661;
    font-family: fontawesome;
}

.news-info209 p {
    color: #c2c8d4;
    font-family: fontawesome;
}

.news-info209 > small {
    color: #7bb661;
    font-family: fontawesome;
}

.info-part-four320 h3 {
    color: #7bb661;
    font-family: fontawesome;
}

.tweet-details29 {
    border-bottom: 1px dotted #43464b;
}

.tweet-details29:last-child {
    border-bottom: none;
}

.tweet-details29 i {
    color: #ddd;
    margin-right: 5px;
}

.tweet-details29 a {
    text-decoration: none;
    color: #c2c8d4;
    font-family: fontawesome;
}

.tweet-details29 a:hover {
    text-decoration: none;
    color: #7bb661;
    font-family: fontawesome;
}

.tweet-details29 > small {
    color: #7bb661;
    font-family: fontawesome;
}

.footer-social {
    background-color: #222629;
    padding: 10px;
}

.footer-social p {
    color: #ddd;
    font-family: fontawesome;
}

.social-right2389 {
    float: right;
}

.social-right2389 a {
    display: inline-block;
    padding-top: 3px;
    padding-left: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid #7bb661;
    border-radius: 50%;
}

.social-right2389 i {
    color: #7bb661;
}
/*===========footer-part============*/
